@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rozha+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  letter-spacing: 1.1;
}

/* colors */

.light-grey {
  color: #5c5a5a;
}
.card-white {
  background-color: #fafafa;
}
.dark-grey {
  color: #333333;
}
/* main */

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
}
.container {
  background: #fafafa;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: justify;
  padding: 1rem;
}

/*logo */
.logo p {
  font-size: 3rem;
  font-family: "Rozha One", serif;
  font-weight: normal;
  text-align: center;
}
/* links */
.links {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 2.5rem;
  margin-left: 0 auto;
}
ul .link {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  align-self: flex-start;
}

.link a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 400;
  padding: 0.7rem;
  transition: opacity 0.2s ease-in-out;
}

.link a:hover {
  opacity: 0.4;
}

.link .active {
  text-decoration: line-through;
  -webkit-text-decoration-color: #fd5151;
  text-decoration-color: #fd5151;
  text-decoration-thickness: 2px;
}
.link a:active,
a:focus {
  text-decoration: line-through;
  -webkit-text-decoration-color: #fd5151;
  text-decoration-color: #fd5151;
  text-decoration-thickness: 2px;
}
.btn {
  width: 100%;
  padding: 0.7rem;
  border-radius: 35px;
  border: none;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.btn-pink {
  background-color: #fd5151;
}
.cart {
  width: 100px;
}
.cart-icon {
  stroke: #fd5151;
  width: 30px;
}

/* main right section */

.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 140px 200px 1fr 100px 50px;
}

.status {
  max-width: 100%;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom: 1rem;
  align-items: flex-end;
  justify-content: stretch;
}
.menu_question {
  font-family: "Rozha One", serif;
  font-weight: normal;
  text-align: justify;
  line-height: 1.5;
  font-size: 3.5em;
  font-weight: 700;
  color: #2f2f2f;
}
.feed {
  display: grid;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;

  grid-row-end: 3;
  justify-content: flex-start;

  align-items: flex-end;
}
.text-content {
  margin-bottom: 0.8rem;
  padding: 0.4rem 0;
  font-size: 0.8rem;
}

.red-line {
  border-radius: 12px;
  width: 20%;
  height: 8px;
  background-color: #fd5151;
  margin-bottom: 3rem;
}
/* cards */
.cards {
  text-align: center;
  max-width: 100%;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 0.5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 3px 3px 6px 1px #e5e5e5;
}

.card-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.card-info {
  font-size: 0.9em;
  padding: 15px;
}
.card-info-text {
  font-weight: 600;
  font-size: 0.8em;
  color: #2f2f2f;
}

/* @media only screen and (min-width: 1024px) {
} */
